@using System.Globalization
@model List<List<WebTransportSystem.Models.Passenger>>

@{
    var rowCount = Model.Count;
    var columnCount = Model.First().Count;
}
@using (Html.BeginForm("ShowNew", "Home", FormMethod.Post))
{
    for (var i = 0; i < rowCount; i++)
    {
        <div class="myrow">
            @{
                var currentRow = Model[i];
                for (var j = 0; j < columnCount; j++)
                {
                    var passenger = currentRow[j];
                    <input type="hidden" value="@passenger.Number" name="newPassengers[@i][@j].Number" />
                    <div class="cell">
                        <H4>
                            Пассажир №@passenger.Number
                        </H4>
                        <p style="float: right; margin-right: 5px">
                            Удовлетворенность: <input type="number" name="newPassengers[@i][@j].Satisfaction" value="@passenger.Satisfaction.ToString(CultureInfo.InvariantCulture).Replace(',', '.')" step="0.01" min="0" max="1" />
                        </p>
                        <p style="float: right; margin-right: 5px">
                            Качество услуг: <input type="number" name="newPassengers[@i][@j].QualityCoefficient" value="@passenger.QualityCoefficient.ToString(CultureInfo.InvariantCulture).Replace(',', '.')" step="0.01" min="0" max="1" />
                        </p>
                        <p>
                            <select name="newPassengers[@i][@j].TransportType">
                                <option disabled>Выберите транспорт</option>
                                @if (passenger.TransportType == TransportType.Bus)
                                {
                                    <option value="@TransportType.Car">Машина</option>
                                    <option selected value="@TransportType.Bus">Автобус</option>
                                }
                                else
                                {
                                    <option selected value="@TransportType.Car">Машина</option>
                                    <option value="@TransportType.Bus">Автобус</option>
                                }
                            </select>
                        </p>
                    </div>
                }
            }
        </div>
    }
    <input class="btn btn-success" type="submit" value="Отправить" />
}
