@using System.Globalization
@model List<Passenger>

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}
<div id="lo"></div>
<script>
    function sleep(ms) {
        ms += new Date().getTime();
        while (new Date() < ms){}
    }

    var count = 3;

    function tmp() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetId")',
            data: { id: count },

            success: function(data) {
                $('#lo').html(`<h1>${data}</h1>`);
                //var returnedstring = data.d;
                //var jsondata = $.parseJSON(data.d);//if you want your data in json
            }
        });

        if (count > 1) {

            setTimeout(tmp, 100); // Не используем интервал, ибо равные промежтки получить сложно (см. https://habrahabr.ru/post/138062/)
            count--;
        }
    }

    function start() {
        //setInterval(function() {
        //var elems = form.elements;
        //var count = Number(elems.from.value);
        for (var s = 0; s < 3; s++) {
            //setTimeout(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetId")',
                data: { id: s },

                success: function(data) {
                    $('#lo').html(`<h1>${data}</h1>`);
                    //var returnedstring = data.d;
                    //var jsondata = $.parseJSON(data.d);//if you want your data in json
                }
            });
            //  },
            //  1000);

            sleep(2000);
        }
        //},
        //1000);
    };


    function startNew() {
        var c = 3;
        var id = setInterval(function() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetId")',
                data: { id: c },

                success: function(data) {
                    $('#lo').html(`<h1>${data}</h1>`);
                    //var returnedstring = data.d;
                    //var jsondata = $.parseJSON(data.d);//if you want your data in json
                }
            });
            c--;
            if (c < 0) {
                clearInterval(id);
            }
            },
            1000);
    };

    
    function startNewN(form) {
        var count = form.count.value;
        var delay = form.delay.value * 1000;
        getAjaxRequest(count, delay, { id: 1 });
    };

    function getAjaxRequest(count, delay, newData) {
        if (count < 0) {
            return;
        }
        count--;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPartialView")',
            data: newData,
            success: function (data) {
                sleep(delay);
                //$('#lo').html(`<h1>${data}</h1>`);
                var id = data.id;
                var view = data.view;
                $('#lo').html(view);
                var newD = { id: id };
                getAjaxRequest(count, delay, newD);
                //var returnedstring = data.d;
                //var jsondata = $.parseJSON(data.d);//if you want your data in json
            }
        });
    }
</script>

<form onsubmit="return false">
    <p>
        Число повторений: <input type="number" name="count" value="5" step="1" min="1" max="10" />
    </p>
    <p>
        Время задержки в секундах: <input type="number" name="delay" value="1" step="0.1" min="0" max="5" />
    </p>

    <input type="button" onclick="startNewN(this.form)" value="Начать">
</form>
<div style="text-align: center">
    <h2>Создание начальных условий</h2>
    @using (Html.BeginForm("ShowNew", "Home", FormMethod.Post))
    {
        for (var i = 0; i < 3; i++)
        {
            <div class="myrow">
                @{
                    for (var j = 0 + i * 3; j < 3 + i * 3; j++)
                    {
                        var passenger = Model[j];
                        <input type="hidden" value="@passenger.Number" name="newPassengers[@j].Number" />
                        <div class="cell">
                            <H4>
                                Пассажир №@passenger.Number
                            </H4>
                            <p style="float: right; margin-right: 5px">
                                Удовлетворенность: <input type="number" name="newPassengers[@j].Satisfaction" value="@passenger.Satisfaction.ToString(CultureInfo.InvariantCulture).Replace(',', '.')" step="0.01" min="0" max="1" />
                            </p>
                            <p style="float: right; margin-right: 5px">
                                Качество услуг: <input type="number" name="newPassengers[@j].QualityCoefficient" value="@passenger.QualityCoefficient.ToString(CultureInfo.InvariantCulture).Replace(',', '.')" step="0.01" min="0" max="1" />
                            </p>
                            <p>
                                <select name="newPassengers[@j].TransportType">
                                    <option disabled>Выберите транспорт</option>
                                    @if (passenger.TransportType == TransportType.Bus)
                                    {
                                        <option value="@TransportType.Car">Машина</option>
                                        <option selected value="@TransportType.Bus">Автобус</option>
                                    }
                                    else
                                    {
                                        <option selected value="@TransportType.Car">Машина</option>
                                        <option value="@TransportType.Bus">Автобус</option>
                                    }
                                </select>
                            </p>
                        </div>
                    }
                }
            </div>
        }


        <input class="btn btn-success" type="submit" value="Отправить" />
    }
</div>